# Address of backend API
NEXT_PUBLIC_API_URL=http://localhost:4000
# URL of frontend app
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Server-only (used in Server Components / Route Handlers, not sent to the browser)
BETTER_AUTH_SECRET=change-me-bg0FtH31auhytkBRRFfq2jwrUQjELBfr
BETTER_AUTH_URL=http://localhost:4000
