PORT=4000

# PostgreSQL connection (used by `pg`)
DATABASE_URL=postgresql://user:password@localhost:5432/dbnamecoolio

BETTER_AUTH_SECRET=change-me-bg0FtH31auhytkBRRFfq2jwrUQjELBfr
BETTER_AUTH_URL=http://localhost:4000
